.care {
    background-color: #1F1C1D;
    background-image: url("../img/care-maine-coon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 70px;
    padding-bottom: 110px;
    @media (max-width:$large-width) {
       background-image: url("../img/care-maine-coon-table.png");
       background-size: 100% 100%;
    }
}
.care-maine-coon__title {
    text-align: center;
}
.care-menu__description {
    color: #fff;
    font-family: "Robotolight", "Arial", sans-serif;
    font-style: normal;
    font-size: 14px;
    margin: 0 130px 35px 60px;
    @media (max-width:$large-width) {
        margin-left: 40px;
    }
}
.care-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px;
    margin: 0;
    @media (max-width:$large-width) {
        justify-content: center;
        gap: 20px;
    }
}
.care-menu__item {
    position:relative;
    width: 565px;
    min-height: 165px;
    border: 0.5px solid #A07B50;
}
.care-menu__block::after{
    position: absolute;
    background-color: #A07B50;
    content: url("../img/str.png");
    border: 0.5px solid #A07B50;
    width: 65px;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.care-menu_title {
    color: #A07B50;
    font-size: 22px;
    font-family: "Robotobold", "Arial", sans-serif;
    font-style: normal;
    margin: 35px auto 10px 60px;
    @media (max-width:$large-width) {
        margin-left: 40px;
    }
}
.care-menu__item:hover {
    background-color: #151313;
    .care-menu__block::after{background-color: #151313};
}
.care__title {
    margin-bottom: 40px;
}
@media (max-width: $tablet-width) {
    .container {
        width: 320px;
        left: 50%;
        transform: translateX(-50%);
    }
    .care-menu__description {
        max-width: 290px;   
        margin: 0 50px 20px 25px;
        line-height: 140%;
    }
    .care-menu_title {
        margin-left: 25px;
        margin-top: 20px;
    }
    .care-menu__block::after{
        width: 46px;
    }
    .care-menu__item {
       width: 100%;
    }
    .section__title {
        font-size: 28px;
    }
}