.main-footer {
  text-align: center;
  background-color: #151313;
}
  
.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1023px;
}
  
.main-footer__address {
  margin-bottom: 10px;
  font-style: normal;
  color: #FDF2E6;
  opacity: 83%;
}

.main-footer__address:hover {
  color: #A07B50;  
}
  
.main-footer__tel {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #fdf2e6;
}

.main-footer__tel:hover {
  color: #A07B50;
}

.main-footer__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
  width: 80px;
}

.icon{
  fill: #A07B50;
  transition: fill .3s ease;
  &:hover{
    fill: #fff;
  }
}

@media (max-width:$large-width) {
  .modal__field {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  .container {
    position: relative;
    width: 320px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  .main-footer__social {
    padding: 0;
    margin: 0;
  }
  .main-footer__address {
    order: 2;
    margin: 0;
    font-size: 14px;
  }
  .main-footer__tel {
    order: 1;
    margin: 0;
    font-size: 14px;
  }
  .main-footer {
    padding: 30px 0;
  }
}

