.pets {
    background-color: #1F1C1D;
}

.hidden {
    display: none;
}

.pets-menu__item a{
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    opacity: 20%;
}
.pets-menu__item a:hover{
    color: #fff;
    opacity: 100;
}

.pets-menu__item{
    display: inline;
}

.pets-menu__item button {
    border:none; 
    padding:0; 
    margin:0; 
    font-size:18px; 
    color: white; 
    background-color:transparent;
    opacity: 20%;
}

.pets-menu__item button:hover{
    color: #fff;
    opacity: 100;
}

.open-more {
    font-family: "Robotobold", "Arial", sans-serif;
    color: #fff;
    border: 1px solid #A07B50;
    font-size: 14px;
}