.why-us {
    background-color: #151313;
}

.container p {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}

.why-us__menu-item {
    display: inline;
}

.why-us__menu-item p{
    font-family: "Robotolight","Arial",sans-serif;
    font-size: 16px;
    color: #fff;
}

// .why-us__menu-item li:hover {
//     border: 0;
//     background-color: #A07B50;
//     padding: 10px;
// }

// .why-us__menu-item a:hover {
//     fill: white;
// }