.why-us {
    background-color: #151313;
    padding-top: 25px;
    padding-bottom: 80px;
}
.title-sector__description {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    color: #A07B50;
    padding-bottom: 30px;
}
.why-us__menu a{
    color: #fff;
}
.why-us__menu{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    margin: 0;
    @media (max-width:$large-width) {
        position: relative;
       max-width: 360px;
       left: 50%;
       transform: translateX(-50%);
    }
}
.why-us__menu-item{
    width: 360px;
    height: 301px;
    background-color: #1F1C1D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.point__link{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 267px;
    align-items: center;
    justify-content: center;
    &:hover{
    background-color: #A07B50;
    stroke: white;
    }
}
.why-us__description {
    color: white;
    font-size: 16px;
    font-family: "Robotolight", "Arial", sans-serif;
    font-style: normal;
    max-width: 233px;
    text-align: center;
}
@media (max-width: $tablet-width) {
    .container {
        position: relative;
        width: 320px;
        left: 50%;
        transform: translateX(-50%);
    }
    .why-us__menu-item{
        width: 290px;
        height: 248px;
    }
    .why-us__menu{
        gap: 40px;
    }
    .point__link{
        width: 260px;
        height: 218px;
    }
    .title-sector__description {
        font-size: 14px;
        width: 290px;
    }
    .point__link--one {
        width: 80px;
        height: 88px;
    }
    .point__link--two {
        width: 80px;
        height: 71px;
    }
    .point__link--three {
        width: 57px;
        height: 88px;
    }
}  